.places-to-visit, .accommodation {
    object-fit: cover;
    object-position: center;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.image-container{
    background-color:salmon;
    padding:10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
.image-container:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.logo{
    height: 50px;
    object-fit: contain;
    object-position: center;
}