html{
    scroll-behavior: smooth;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    font-size: large;
}

.header-places-to-visit {
    font-size: 2.5em;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Roboto" , Arial, sans-serif;
}
.section-container {
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
  align-items: center; 
  width: 80%;
  margin: 20px auto;
  padding: 15px;
}
.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.mosque , .castle , .dar-sebastien1 ,.Souk , .peer-night {
    border: 2px solid #3498db;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.places-to-visit:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}