html {
    background: url("../images/background.jpeg") center / cover no-repeat fixed;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: transparent !important;
  min-height: 100vh;
}
.header-reservation {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #006ce4;
  margin: 30px 0;
}
.reservation-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f8f9fa;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


.reservation-form .form-label {
  font-weight: 500;
}

.reservation-form .form-control,
.reservation-form .form-select {
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  background-color: #006ce4;
  border: none;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #004bb5;
}
